// PORTFOLIO

//- используя Jade Mixin можно не писать JS, что бы задать
//- одинаковый href и id

mixin portfolio-item(image, numWork, title, address, work)
  a(href="#portfolio-img-#{numWork}").portfolio-item
    img(src="img/works/#{image}.jpg", alt="portfolio-work-#{numWork}")
    .thumb-overlay
      <svg class='portfolio-magnifier' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M13 10h-3v3h-2v-3h-3v-2h3v-3h2v3h3v2zm8.172 14l-7.387-7.387c-1.388.874-3.024 1.387-4.785 1.387-4.971 0-9-4.029-9-9s4.029-9 9-9 9 4.029 9 9c0 1.761-.514 3.398-1.387 4.785l7.387 7.387-2.828 2.828zm-12.172-8c3.859 0 7-3.14 7-7s-3.141-7-7-7-7 3.14-7 7 3.141 7 7 7z"/></svg>
      h4 #{title}
        
    //- mfp-hide это класс magnific-pop c display: non !importent.
    //- можно сделать и свой
    .popup-wrap
      div(id='portfolio-img-#{numWork}').portfolio-popup.mfp-hide
        img(src="img/works/#{image}.jpg", alt="portfolio-work-1")
        h2 #{title}
        .popup-content
          .address
            span
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0c-4.198 0-8 3.403-8 7.602 0 4.198 3.469 9.21 8 16.398 4.531-7.188 8-12.2 8-16.398 0-4.199-3.801-7.602-8-7.602zm0 11c-1.657 0-3-1.343-3-3s1.343-3 3-3 3 1.343 3 3-1.343 3-3 3z"/></svg>
              | Адрес:
            p #{address}
          .work
            span
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 13.616v-3.232c-1.651-.587-2.694-.752-3.219-2.019v-.001c-.527-1.271.1-2.134.847-3.707l-2.285-2.285c-1.561.742-2.433 1.375-3.707.847h-.001c-1.269-.526-1.435-1.576-2.019-3.219h-3.232c-.582 1.635-.749 2.692-2.019 3.219h-.001c-1.271.528-2.132-.098-3.707-.847l-2.285 2.285c.745 1.568 1.375 2.434.847 3.707-.527 1.271-1.584 1.438-3.219 2.02v3.232c1.632.58 2.692.749 3.219 2.019.53 1.282-.114 2.166-.847 3.707l2.285 2.286c1.562-.743 2.434-1.375 3.707-.847h.001c1.27.526 1.436 1.579 2.019 3.219h3.232c.582-1.636.75-2.69 2.027-3.222h.001c1.262-.524 2.12.101 3.698.851l2.285-2.286c-.744-1.563-1.375-2.433-.848-3.706.527-1.271 1.588-1.44 3.221-2.021zm-12 2.384c-2.209 0-4-1.791-4-4s1.791-4 4-4 4 1.791 4 4-1.791 4-4 4z"/></svg>
              | Работы:
            p #{work}
          
          
      
        
    

section.portfolio

  h2 Выполненные работы
  
  +portfolio-item('1', '0', 
    'Историческое здание - особняк представительского класса', 
    'Москва, м. Тверская, переулок Большой Гнездниковский, дом 3.',
    'Проектирование и монтаж систем вентиляции, кондиционирования, дымоудаления, отопления.'
  )
  +portfolio-item('2', '1', 
    'Историческое здание - особняк представительского класса', 
    'Москва, м. Тверская, переулок Большой Гнездниковский, дом 3.',
    'Проектирование и монтаж систем вентиляции, кондиционирования, дымоудаления, отопления.'
  )
  +portfolio-item('3', '2', 
    'Историческое здание - особняк представительского класса', 
    'Москва, м. Тверская, переулок Большой Гнездниковский, дом 3.',
    'Проектирование и монтаж систем вентиляции, кондиционирования, дымоудаления, отопления.'
  )
  +portfolio-item('4', '3', 
    'Историческое здание - особняк представительского класса', 
    'Москва, м. Тверская, переулок Большой Гнездниковский, дом 3.',
    'Проектирование и монтаж систем вентиляции, кондиционирования, дымоудаления, отопления.'
  )
  +portfolio-item('5', '4', 
    'Историческое здание - особняк представительского класса', 
    'Москва, м. Тверская, переулок Большой Гнездниковский, дом 3.',
    'Проектирование и монтаж систем вентиляции, кондиционирования, дымоудаления, отопления.'
  )
  +portfolio-item('6', '5', 
    'Историческое здание - особняк представительского класса', 
    'Москва, м. Тверская, переулок Большой Гнездниковский, дом 3.',
    'Проектирование и монтаж систем вентиляции, кондиционирования, дымоудаления, отопления.'
  )
  +portfolio-item('7', '6', 
    'Историческое здание - особняк представительского класса', 
    'Москва, м. Тверская, переулок Большой Гнездниковский, дом 3.',
    'Проектирование и монтаж систем вентиляции, кондиционирования, дымоудаления, отопления.'
  )
  +portfolio-item('8', '7', 
    'Историческое здание - особняк представительского класса', 
    'Москва, м. Тверская, переулок Большой Гнездниковский, дом 3.',
    'Проектирование и монтаж систем вентиляции, кондиционирования, дымоудаления, отопления.'
  )

  
  
  //- a(href="#").portfolio-item
  //-   img(src="img/works/1.jpg", alt="portfolio-work-1").portfolio-img
  //-   .thumb-overlay
  //-     <svg class='portfolio-magnifier' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M13 10h-3v3h-2v-3h-3v-2h3v-3h2v3h3v2zm8.172 14l-7.387-7.387c-1.388.874-3.024 1.387-4.785 1.387-4.971 0-9-4.029-9-9s4.029-9 9-9 9 4.029 9 9c0 1.761-.514 3.398-1.387 4.785l7.387 7.387-2.828 2.828zm-12.172-8c3.859 0 7-3.14 7-7s-3.141-7-7-7-7 3.14-7 7 3.141 7 7 7z"/></svg>
  //-     h4 
  //-       | историческое здание - особняк
  //-       | особняк представительского класса
  //-     
  //-   .portfolio-popup.mfp-hide
  //-     img(src="img/works/1.jpg", alt="portfolio-work-1")
  //-     h2 
  //-       | Историческое здание - особняк
  //-       | особняк представительского класса
  //-       
  
